* {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    margin-left: 8%;
    margin-right: 8%;
    background-color: rgba(192, 192, 192, 0.1);
}

h1 {
    font-size: 2em;
}

h1#headline {
    font-size: 4em;
    margin-top: 0.15em;
    margin-bottom: 0.15em;
    color: #505355;
    border-bottom: solid 1px black;
}

h2 {
    font-size: 1.8em;
    line-height: 1.45em;
}

h3 {
    font-size: 1em;
    color: #00ADEE;
}

header img {
    height: 25px;
}

.student-gray {
    color: #505355;
}

.italic-text {
    font-style: italic;
}

#student-picture img{
    border-radius: 50%;
}

main#main-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "headline headline student-picture"
    "student-quote student-quote student-picture"
    "student-profile student-profile student-contact"
    "exp-grid exp-grid exp-grid";
    grid-row-gap: 20px;
    grid-column-gap: 50px;
    align-items: center;
}

main > h1 {
    grid-area: headline;
}

#student-picture {
    grid-area: student-picture;
    text-align: center;
}

#student-quote {
    grid-area: student-quote;
}

#student-profile {
    grid-area: student-profile
}

#student-contact {
    grid-area: student-contact;
    text-align: center;
}

div#experience-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    row-gap: 20px;
    width: 350%;
    grid-template-areas: 
    "experience-code experience-web"
    "experience-database experience-design";
}


div#experience-code {
    grid-area: experience-code;
}

div#experience-database {
    grid-area: experience-database;
}

div#experience-web {
    grid-area: experience-web;
}

div#experience-design {
    grid-area: experience-design;
}

@media screen and (max-width: 768px) {
    main#main-grid { /* Style the content of the page for smaller screens */
        grid-template-areas:
        "headline"
        "student-picture"
        "student-contact"
        "student-quote"
        "student-profile";
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 768px) {
    div#experience-grid { /* Style the content of the page for smaller screens */
        grid-template-areas:
        "experience-code"
        "experience-web"
        "experience-database"
        "experience-design";
        grid-template-columns: 1fr;
    }
}