* {
  box-sizing: border-box;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}

html {
  font-size: 16px;
}

body {
  background-color: rgba(192, 192, 192, 0.1);
}

ul {
  margin: 0;
  padding: 0;
}

aside {
  position: fixed;
  width: 200px;
  border-right: 1px solid ;
  color: rgba(0, 173, 238, 0.4);
  height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
}

aside > img {
  height: 120px;
  margin: 0 auto;
}

main {
  margin-left: 200px;
  padding-left: 20px;
  padding-right: 20px;
}

aside li {
  list-style: none;
  text-align: center;
  text-transform: uppercase;
  border-bottom: solid;
  color: rgba(0, 173, 238, 0.4);
  margin: 10px auto;
  padding-bottom: 10px;
  width: 80%;
  line-height: 2;
}

li > a {
  color: #00ADEE;
  text-decoration: none;
}

a > :hover {
  text-decoration: underline;
}

header {
  height: 120px;

}

header > img {
  height: 80%;
  width: auto;
}

img {
  position: static;
  width: 100%;
}

section > div {
  display: inline-block;
  width: 33%;
  padding-right: 20px;
  margin-top: 20px;
}

section > div > h2 {
  color: #8CC36F;
}

section > h2 > i {
  margin-right: 10px;
}

div#what-we-do {
  border-right: 1px solid;
  border-right-color: #8CC36F;
}

div#our-work {
  border-right: 1px solid;
  border-right-color: #8CC36F;
  padding-left: 20px;
}


div#contact-us {
  border-right: 1px solid;
  border-right-color: #8CC36F;
  padding-left: 20px;
}
